<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588723337813-fmeehgbejgiuu4llejujub7q922iuk11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588723337813-fmeehgbejgiuu4llejujub7q922iuk11</string>
	<key>API_KEY</key>
	<string>AIzaSyCggTzgvTQKvBLis9rvlEdrkCLM_qd4p5A</string>
	<key>GCM_SENDER_ID</key>
	<string>588723337813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kedarabhyankar.Cadence</string>
	<key>PROJECT_ID</key>
	<string>cadence-3ff19</string>
	<key>STORAGE_BUCKET</key>
	<string>cadence-3ff19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588723337813:ios:e1bec0981d740cf029f2dc</string>
</dict>
</plist>